---
---

@import "{{ site.theme }}";

#header_wrap a {
	color: #fff;
}

#main_content_wrap {
	background: #fff;
}

#main_content_wrap img {
  	-webkit-box-shadow: 0px 0px 0px 0px #fff;
  	box-shadow:         0px 0px 0px 0px #fff;
}
