---
---

@import "{{ site.theme }}";

.page-header a {
	color: #fff;
}

.page-header h2::after {
	content: "<a href="https://arxiv.org/abs/1904.06397" class="btn">arXiv</a>";	
}

#main_content_wrap {
	background: #fff;
}

#main_content_wrap img {
  	-webkit-box-shadow: 0px 0px 0px 0px #fff;
  	box-shadow:         0px 0px 0px 0px #fff;
}
